header > div:nth-child(1) {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-width: 250px;
}

header > div:nth-child(2) {
  margin-left: 50px;
  align-items: center;
}

header > div:nth-child(3) {
  align-items: center;
  margin-left: auto;
}

.searchbox:focus {
  border-color: #e785ff;
  box-shadow: 0 0 6px #e785ff;
  outline: 0 none;
}
